<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @footprint_tally, partial: "card", as: :footprint_tally %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "footprint_tallies/footprint_tally_actions" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "footprint_tallies/footprint_tally_users" %>
  </div>
</div>
